@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  font-family: "Poppins Regular", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "poppins-bold";
  src: url("./assets/fonts/font3.woff2");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("./assets/fonts/font2.woff2");
}
@font-face {
  font-family: "poppins-black";
  src: url("./assets/fonts/font4.woff2");
}
@font-face {
  font-family: "poppins-regular";
  src: url("./assets/fonts/font1.woff2");
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

h1 {
  font-family: "poppins-black";
}

h2 {
  font-family: "poppins-bold";
}
h3,
button,
h4 {
  font-family: "poppins-semibold";
}

span,
a,
label {
  font-family: "poppins-semibold";
}

li,
p {
  font-family: "poppins-regular"
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
